<div style="text-align: center"><img src="https://www.python.org/static/img/python-logo.png"></div>

>[OPERADORES DE PYTHON](#scrollTo=AHONY2VzigaP)

>>[2.1) Aritméticos:](#scrollTo=vHq20Z7-hdtT)

>>[2.2) De Asignación:](#scrollTo=BrmXOtkDhdj6)

>>[2.3) De Comparación o relación:](#scrollTo=7XUwWspAhdaa)

>>[2.4) Lógicos (bool):](#scrollTo=AT5JGnzdhdQ3)

>>[2.5) De identidad:](#scrollTo=lfQerHyEhdGm)

>>[2.6) De pertenencia:](#scrollTo=QkdK05hMhc85)

# OPERADORES DE PYTHON

Python cuenta con distintos tipos de operadores. Estos son los más importantes.

## 2.1) Aritméticos:

Son los que usamos para hacer operaciones matemáticas.

In [1]:
a = 1 + 2
b = 4 - 3
c = 2 * 3
d = 12 / 3  # Retorna un valor de tipo float, por más que el resultado sea un int.
e = 5 % 2   # Módulo: es el resto de la de división.
f = 2 ** 5  # Potencia
g = 15 // 2 # División entera: retorna un int y redondea el resultado hacia abajo.

print('Suma:', a)
print('Resta:', b)
print('Mutiplicación:', c)
print('División decimal:', d)
print('Módulo:', e)
print('Potecia:', f)
print('División entera:', g)

Suma: 3
Resta: 1
Mutiplicación: 6
División decimal: 4.0
Módulo: 1
Potecia: 32
División entera: 7

## 2.2) De Asignación:

Hay formas cortas de asignar valores a las variables. 
Tener en cuenta que 1 signo = no hace lo mismo que 2 signos ==.

In [2]:
a = 1
b = 1
c = 4
d = 2
e = 12
f = 5
g = 2
h = 15

a = 5     # Asignación de valor 
b += 2
c -= 3
d *= 3
e /= 3    # Retorna un valor de tipo float, por más que el resultado sea un int.
f %= 2    # Módulo: es el resto de la de división.
g **= 5   # Potencia
h //= 2   # División entera: retorna un int y redondea el resultado hacia abajo.

print('Asignación:', a)
print('Suma:', b)
print('Resta:', c)
print('Multiplicación:', d)
print('División decimal:', e)
print('Módulo:', f)
print('Potencia:', g)
print('División entera:', h)

Asignación: 5
Suma: 3
Resta: 1
Multiplicación: 6
División decimal: 4.0
Módulo: 1
Potencia: 32
División entera: 7

## 2.3) De Comparación o relación:

Todas estas comparaciones retornan valores de tipo **BOOLEAN**: **True** o **False**.

In [3]:
print('Son equivalentes?', 5 == 3)  # Equivalentes: igual contenido.
print('Son distintos?', 5 != 3)
print('El primero es mayor que el segundo elemento?', 5 > 3)
print('El primero es menor que el segundo elemento?', 5 < 3)
print('El primero es mayor o igual que el segundo elemento?', 5 >= 3)
print('El primero es menor o igual que el segundo elemento?', 5 <= 3)

Son equivalentes? False
Son distintos? True
El primero es mayor que el segundo elemento? True
El primero es menor que el segundo elemento? False
El primero es mayor o igual que el segundo elemento? True
El primero es menor o igual que el segundo elemento? False

## 2.4) Lógicos (bool):

Son usados para combinar declaraciones condicionales.

Todas estas comparaciones retornan valores de tipo **BOOLEAN**: **True** o **False**.

a) and / &: son **Verdaderos** si TODAS las variables son True.

In [4]:
x = True
y = True

if ((x == True) and (y == True)):
  print('Verdadero')

if ((x == True) & (y == True)):
  print('Verdadero')

Verdadero
Verdadero

b) or / |: son **Verdaderos** si UNA de las variables es True.

In [5]:
x = True
y = False

if ((x == True) or (y == True)):
  print('Verdadero')

if ((x == True) | (y == True)):
  print('Verdadero')

Verdadero
Verdadero

c) not / ~: son **Verdaderos** si UNA de las variables es True.

In [6]:
x = False

if not x:
  print('Verdadero')

if ~ x:
  print('Verdadero')

Verdadero
Verdadero

## 2.5) De identidad:

Estos operadores son usados para COMPARAR OBJETOS, NO SI SON IGUALES o equivalentes. Buscan saber si son el mismo objeto, con la misma dirección de memoria.

Todas estas comparaciones retornan valores de tipo **BOOLEAN**: **True** o **False**.

In [7]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)   # returns True because z is the same object as x
print(x is y)   # returns False because x is not the same object as y, even if they have the same content
print(x == y)   # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [8]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)   # returns False because z is the same object as x
print(x is not y)   # returns True because x is not the same object as y, even if they have the same content
print(x != y)       # to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

## 2.6) De pertenencia:

Estos operadores son usados para verificar si una secuencia esta dentro de otra.

Todas estas comparaciones retornan valores de tipo **BOOLEAN**: **True** o **False**.

In [9]:
x = ["apple", "banana"]

print("banana" in x)    # returns True because a sequence with the value "banana" is in the list

True

In [10]:
x = ["apple", "banana"]

print("pineapple" not in x)   # returns True because a sequence with the value "pineapple" is not in the list

True